<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../common/head %>
</head>
<body>
    <% include ../common/navigation %>
    <div class='container' style='min-height: 450px'><div class='row'><div class='col-md-12'>

        <% if (messages.success) { %>
            <div class="alert alert-success"><%=messages.success%></div>
        <% } else if (messages.danger) { %>
            <div class="alert alert-danger"><%= messages.danger %></div>
        <% } else if (messages.warning) {%> 
            <div class="alert alert-warning"><%= messages.warning %></div>
        <% } else if (messages.info) {%> 
            <div class="alert alert-info"><%= messages.info %></div>
        <% } %>


        <h3>THIS IS AN ADMIN ONLY PAGE<br>(YOU ARE
            <% if(admin == 'admin'){%> AN ADMIN USER)<%}
            else {%> NOT AN ADMIN USER ... so technically, you're not allowed here)<%}%>
        </h3>
        <br>

        <h4>A3 Security Rating <%=a3Rating%> -
            <% if(a3Rating == 0){%>Sensitive Information Exposed at admin API endpoint   <a href='/app/admin/users/toggle?vuln=<%=vuln3%>'>(Toggle A3 Rating to 1)</a><%}%>
            <% if(a3Rating == 1){%>Sensitive Information Hidden at admin API endpoint  <a href='/app/admin/users/toggle?vuln=<%=vuln3%>'>(Toggle A3 Rating to 0)</a><%}%>
        
        </h4>
        <h4>A5 Security Rating <%=a5Rating%> -
            <% if(a5Rating == 0){%>Non-admins can access to admin API endpoint - <a href='/app/admin/users/toggle?vuln=<%=vuln5%>'>(Toggle A5 Rating to 1)</a><%}%>
            <% if(a5Rating == 1){%>Non-Admins can NOT access admin API endpoint - <a href='/app/admin/users/toggle?vuln=<%=vuln5%>'>(Toggle A5 Rating to 0)</a><%}%>
        </h4>
        <br>
        <h4>(1)  !!!WARNING!!!  If you are NOT an admin, and you toggle your A5 security rating to 1, you will lose access to this admin only page.</h4>
        <h4>(2)  This admin page makes a call to the final admin API endpoint at: <a href= "http://localhost:9090/app/admin/usersapi">http://localhost:9090/app/admin/usersapi</a><br>(If both A3 and A5 Security Ratings are at 0, non-admin users will be able to access API and view sensitive information)</h4> 
        <br>
        <h2> Users</h2>

        <br>
        <table class='table' id='users-table'>
            <tr>
                <th >User ID</th>
                <th>Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </table>
    </div></div></div>
    <% include ../common/footer %>
    <script type="text/javascript">
        function appendUsers(users) {
            var table = document.getElementById('users-table'),i=0;
            var j = table.rows.length
            while(i<=users.length){
                var row = table.insertRow(j);
                var c_id = row.insertCell(0);
                var c_name = row.insertCell(1);
                var c_email = row.insertCell(2);
                c_id.innerHTML = users[i].id;
                c_name.innerHTML = users[i].name;
                c_email.innerHTML = users[i].email;
                i=i+1;
                j=j+1;
            }
        }

        function loadUsers() {
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == XMLHttpRequest.DONE) {
                   if (xmlhttp.status == 200) {
                       respJson = JSON.parse(xmlhttp.responseText);
                       appendUsers(respJson.users);
                       console.log('There was a 200');
                   }
                   else if (xmlhttp.status == 400) {
                      console.log('There was an error 400');
                   }
                   else {
                       console.log('something else other than 200 was returned');
                   }
                }
            };
            xmlhttp.open("GET", '/app/admin/usersapi', true);
            xmlhttp.send();
        }
        loadUsers();
    </script>
</body>
</html>
